h1 {
    text-align: center;
    background-image: url(./images/cashew\ nut\ 1.jpeg);
    max-width: 100%;
    padding: 5rem;
    background-attachment: scroll;
    background-size: cover;
    color: white !important;
    background-repeat: no-repeat;
    font-style: oblique;
    font-weight: bolder;
}


h6 {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

p {
    font-style: oblique;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

/* Items Dispaly */

#featured ul {
    padding: 0;
}

#featured li {
    border-radius: 6%;
    float: left;
    width: 23%;
    margin: 1%;
    list-style-type: none;
    background-color: darkorange;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#featured li:hover {
    background-color: orange;
    color: violet;
}

#featured li img {
    width: 100%;
    margin-bottom: 10px;
    height: 8rem;
}

#featured li a {
    color: #333;
    text-decoration: none;
    float: left;
}

#featured li span {
    float: right;
    color: #333;
}

#featured ul:after {
    content: "";
    display: block;
    clear: both;
}



/* MEDIA Query */
/* Tablets */
@media screen and (max-width: 768px) {
    #featured li {
        width: 48%;
    }

    footer ul {
        width: 48%;
        text-align: center;
    }

    #featured li img{
        height: 10rem;
    }
}


@media screen and (max-width: 480px) {
    #featured li {
        width: 90%;
        margin: 20px 5%;
    }
}